.activeUserDetailsContainer{
    background-color: pink;
    margin-top: 20px;
    padding: 20px;
}

.activeUserDetailsContainer>span{
    color: teal;
    font-weight: bolder;
    font-size: 22px;
}

.spreadOut{ 
    
    padding-top: 20px;
}