.transactionsContainer{
    flex: 2; 
}

.transactionsContainer > table{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
    width: 100%;
    background-color: blueviolet;
    text-align: left;
    border-spacing: 20px;
}

.transactionTitle {
    font-size: 22px;
    font-weight: 600;
  }
  
 
  
  .transactionTable > tr > th{
    text-align: left;
  }
  
  .transactionUser{
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  
  .transactionImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .transactionDate,.transactionAmount{
    font-weight: 300;
  }
  
  .buttonDesign {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
  }
  
  .buttonDesign.Approved{
      /* background-color: #e5faf2; */
      color: #3bb077;
  }
  .buttonDesign.Declined{
      /* background-color: #fff0f1; */
      color: #d95087;
  
  }
  .buttonDesign.Pending{
      /* background-color: #ebf1fe; */
      color: #2a7ade; 
  }