.membersContainer{
    flex:1
    
}

.membersContainer > div{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding: 0%;
}

.newMembers{
    flex: 3;
    background-color: aqua;
}


.newMembers > ul{
    /* background-color: red; */
    
    padding: 0% 10px;
}


.newMembers > ul > li{
    list-style: none;
    
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 20px 0px;
    background-color: teal;


}

.imageWidget{
    /* position: absolute;
    top: 6px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.memberName{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.memberButton{
    /* position: absolute;
    top: 2px;
    right:2px; */
    display: flex;
    
    background-color: #eeeef7;
    align-items: center;
    border-radius: 10px;
    border: none;
    
    /* padding: 5px 12px; */
}
