.container{
    display: flex;
    /* direction: row;
    flex-wrap: wrap; */
}

/* .left{
    flex: 1;
    background-color: blue;
} */

/* .right{
    flex: 5;
    background-color: greenyellow;
} */